.app_layout {
  background: #0b1215;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.login_page {
  background: #0b1215;
  height: 100vh;
}

.app_sidebar {
  grid-column: 1 / 3;
  grid-row: 1 / 13;
}

.app_content {
  height: 100%;
  grid-column: 3 / 13;
  grid-row: 1 / 13;
}
