@import "tailwindcss";

@layer base {
  * {
    font-family: "Roboto", -apple-system, "Segoe UI", Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

:root {
  font-size: 16px;
  --dark-mode-bg: #0b1215;
  --dark-mode-card-color: #0d1518;
  --light-mode-bg: #fcfdfd;
  --card-border-radius: 8px;
  --div-padding: 1rem;
}
